body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* background-color: antiquewhite; */
    margin-left: auto;
    margin-right: auto;
    max-width: 1700px;
   font-family: "Montserrat", sans-serif;

}

ul{
    list-style: none;
    padding-left: 0;
}

a{
    text-decoration: none;
    color: inherit;
}
.side_section {
    /* background-color: darkgray; */
    width: 15%;
    /* height: 620px; */
    /* text-align: center; */
    margin-left: 12%;
    /* padding: 2%; */
    overflow: auto;
    margin-top: -28px;
    position: fixed;
    top: 0;
   
 }

.side_section .logo h1{
/* text-align: center; */
padding-bottom: 22%;
font-weight: 400;
font-size: 30px;
letter-spacing:2px;
margin-top: 23%;

}

/* .side_section .logo i{
    cursor: pointer;

} */

.nav1 .menu i {
    cursor: pointer;
    visibility: hidden;  
    opacity: 0%;
}

/* .side_section .logo */

.nav1 input{
    /* display: none; */
    visibility: hidden;
    opacity: 0%; 
}


.side_section  .nav_first{
    /* background-color: aquamarine; */
    font-weight:lighter!important;
   
}

.side_section  .nav_first .navv{
    /* background-color: rgb(226, 204, 175); */
    padding-bottom:15%;
}

.side_section  .nav_first .navv ul {
    z-index: 111111111;
    color: #8b7979;
}

.side_section  .nav_first .navv ul li {
    padding: 5% 0%;
    font-size: 18px;
    font-weight: 600;
    /* position: relative; */
    margin-right: 4%;

}

.side_section  .nav_first .navv ul li a{
font-family: "Roboto", sans-serif;
/* padding:5% 0; */
/* font-size: 18px; */
/* font-weight: 600; */
/* height: 100%;
width: 100%; */
/* display: inline-block; */
}

.side_section  .nav_first .navv li:hover {
    /* width: 100%;
    padding:5% 0;  */
    color: #000!important;
    background-color: #a1a1a19f !important;
     
}


.side_section  .nav_first .navv .firstul label i {
    cursor: pointer;
    padding-right: 56%;
    /* position: absolute;
    top:30%;
    left: 24%; */
}

.side_section  .nav_first .navv .firstul input {
    display: none;
}

.side_section  .nav_first .navv ul li .dropdown{
    padding: 3%;
    margin-left: 12%;
    display: none;
}

.side_section  .nav_first .navv .firstul li #dropaction:checked ~ .dropdown{
    display: block;
    /* padding: 3%;
    margin-left: 12%; */
}

.side_section  .nav_first .navv ul li .dropdown i {
    padding-right: 9%;
}

.side_section  .nav_first .navv ul li .dropdown li{
/* padding: 4% 3%; */
font-size: 15px;

}

.side_section  .nav_first .navv .firstul > li:nth-child(3) { /* > عشان احدد بس الليست الاولى مش ياخد معاها الليست الي تحتها كمان  */
    color: black !important;
}

/* .side_section  .nav_first .nav .firstul > li:nth-child(3):hover{
    background-color: unset;
} */

.side_section  .nav_first .navv ul li .dropdown li:nth-child(1){
    background-color: rgba(185, 184, 184, 0.37);
    color: black !important;

}

/* .side_section  .nav_first .nav ul li:nth-child(3).dropdown{
display: none;
padding-bottom: 3%;

} */

    /* اول دروب داون بعد الA */

/* .side_section  .nav_first .nav ul li:nth-child(3) a:hover + .dropdown{    
 
    display: block;
} */


/* ----------------------------------------------- */

.side_section  .nav_second{
    /* background-color: coral; */
    margin-right: 4%;

}

.side_section  .nav_second ul li{
font-size: 15px;
padding: 4% 0%;
}

.side_section  .nav_second ul li:hover {
    background-color: #a1a1a19f;
    
}


/* ------------------------------------------------------------------------------- */

header{
   width: 60%; 
   /* background-color: coral; */
   /* display: grid;
   justify-content: center;
   align-items: center; */
   /* float: right; */
   position: absolute;
   top: 0;
   right: 13%;
   padding: 0 1%;

}

header h2 {
    font-weight: 300;
    font-size: 27px;
}

header a{
    font-size:22px;
}
header .shoppingicon {
    position: absolute;
   
    top:33%;
    right: 6%;
}

header .searchicon{
    position: absolute;
    top:33%;
    /* right:-1%; */
    right: 2%;

}


/* ------------------------------------------------------------ */


.photoheader{
    width: 100%; 
    margin-left: 1%;
    /* display: grid;
    justify-content: center;
    align-items: center; */
    /* float: right; */
    position: absolute;
    top:77px;
    /* right: 13%;  */
}

.photoheader img{
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    /* z-index: -1; */
    margin-bottom: 90%;
}

.photoheader .img-content{
position: absolute;
width: 50%;
top: 0%;
left: 5%;
/* background-color: rgb(122, 122, 57); */
}

.photoheader .img-content h1{
    font-size: 66px;
    font-weight: 400;
    color: white;
    margin-bottom:-3%;
}

.photoheader .img-content p{
    font-size: 36px;
    color: white;
    margin-bottom:4%;
}

.photoheader .img-content .btn{
padding: 3% 6%;
font-size: 18px;
font-weight: 400;
background-color: black;
border: none;
color: white;
}

.photoheader .img-content .btn:hover{
    color: black;
    background-color:#ccc!important ;
}

/* ---------------------------------------------------------- */

.contaner{
    width: 62%;
    margin-left: 26%;
}

/* ------------------------------------------------------------ */

.items_p{
    color: darkgray;
    display: block;
    padding: 8% 0 1% 1%;
}

/* ------------------------------------------------------------ */
.itemscont{
    /* margin: auto; */
    width: 100%;
    margin-top: 84%;
    /* position: relative;
    top: 60% */
    
}
    
.items{
    margin: 1% 0;
    display:grid;
    column-gap: 3%;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    filter:grayscale(77%) ;
    -webkit-filter:grayscale(77%) ;
}

.items .box_item {
 /* width: 20%; */
 /* height: 11%; */
 position: relative;
}

.items .box_item:nth-child(7)>p:nth-child(3) {
    color: rgb(250, 49, 49);
 }

 
.items .box_item:nth-child(2)::before{
    content: 'New';
    position: absolute;
    /* width: 40px;
    height: 20px; */
    padding: 3px 10px;
    background-color: black;
    color: white;
    font-size: 14px;
}

.items .box_item:nth-child(2):hover::after{
    content: 'buy now';
    position: absolute;
    top: 33%;
    left: 27%;
    padding: 11px 25px;
    background-color: black;
    color: white;
    z-index: 44;
}

.items .box_item:nth-child(7)::before{
    content: 'Sale';
    position: absolute;
    /* width: 40px;
    height: 20px; */
    padding: 3px 10px;
    background-color: black;
    color: white;
    font-size: 14px;
}

.items .box_item:nth-child(7) button{
visibility:hidden;
cursor: pointer;
padding: 11px 25px;
border: none;
background-color: black;
color: white;
position: absolute;
top: 35%;
left: 25%;
}
.items .box_item:nth-child(7):hover button{
    visibility:visible;
}
.items .box_item:nth-child(7) button:hover{
    background-color: rgb(179, 174, 174);
    color: black;
}


.items .box_item img{
    width: 100%;
}

.items_p{
    width: 100%;
    position: absolute;
    top: 85%;
}
/* ---------------------------------------------------------- */


footer{
/* height: 600px; */
background-color: black;
}

footer .black_upper_footer{
    color: white;
    padding: 2% 2% 4% ;
}

footer .black_upper_footer h1{
    font-size: 36px;
    letter-spacing: 1.5px;
    font-weight: 400;
}

footer .black_upper_footer input{
    width: 98%;
    padding: 1%;

}

footer .black_upper_footer button{
    margin:2% 0;
    padding: 1% 2%;
    background-color: #f44336 ;
    border: none;
    color: white;
    font-size: 16px;
}


footer .footer_content {
    padding: 6% 4%;
    display: flex;
    /* justify-content:space-between; */
    align-items: flex-start;
    background-color: #f1f1f1 !important
}

.footer_content > div{
width: 33%;
letter-spacing: 1.2px;
}

footer .footer_contact h4{
    font-weight: 400;
    text-align: center;
    font-size: 20px;   
}

footer .footer_contact p{
   font-size: 12px;
   letter-spacing: 1.2px;
   text-align: center;
}

footer .footer_contact form input {
    width: 100%;
    /* height: 40%; */
    margin-bottom: 4%;
    /* margin-left: 2%; */
    padding: 4%;
    border: 1px solid #ccc!important ;
}

footer .footer_contact form button{
    width: 100%;
    background-color: black;
    color: white;
    padding: 4% 54%;
    border: none;
    /* margin-left: 2%; */
}

footer .footer_about {
    padding: 0 4%;
}

footer .footer_about h4{
text-align: center;
font-weight: 400;
font-size: 20px;   
}

footer .footer_about ul {
   text-align: center;
}

footer .footer_about ul li a{
    display: inline-block;
    padding: 3%;
    font-size: 12px;
    text-decoration: underline;
}

footer .footer_store h4{
    font-weight: 400;
    font-size: 20px;   
}
footer .footer_store p{
    padding: 1% 0;
    font-size: 12px;
}

footer .footer_store > i{
    font-size: 17px;
}

.black_botton_footer{
    /* background-color: black; */
    color: white;
    padding: 1%;
    text-align: center;
    font-size: 15px;

}
.black_botton_footer a{
  text-decoration: underline;
  font-weight:lighter;
}







































/* ==================================================   MEDIA  ================================================ */

/* ---------------------------------------------------------------------------------------- */


@media (max-width: 992px ) {

    .nav1{
        /* display: none; */
        /* padding:0%;
        margin:0%; */
        /* overflow: auto; */
        background-color: black;
        width: 100%;
        /* 80 before */
        height: 90px;
        position: relative;
        position: sticky;
        top: 0;
        z-index: 11111;
    }

    .nav1::after{
        content:'LOGO';
        position:absolute;
        color: white;
        z-index: 2222222;
        left: 2%;
        top:40%;
        font-weight: 400;
        font-size: 26px;
        letter-spacing:4px;
        /* z-index: -1111; */
    }

    .nav1 .menu i {
        visibility: visible;
        opacity: 100%;
        color: rgb(255, 255, 255);
        font-size: 22px;
        position: absolute;
        right:2%;
        top: 40%;
        z-index: 1111;
      }

   
      .side_section {
        background-color: white;
        width: 26%;
        position: absolute;
        left: 0%;
        top: 0%;
        margin: 0;
        padding: 0;
        visibility: hidden;
        opacity: 0%;
    }

    .side_section .logo h1{
        padding: 0 2%;
        color: rgb(15, 15, 15);
        align-items: center;
        font-weight: 500;
        background-color: white;
        font-size: 28px;
        letter-spacing:4px;
        position: absolute;
        left: 2%;
    }

    .side_section .nav_first{
        /* display: none; */
        visibility: hidden;
        opacity: 0%;
        padding-top: 48%;
        padding-left: 6%;
        /* padding: 0% 6%; */
    }

    .side_section .nav_second{
        padding-left: 6%;
    }

    .nav1 #menu:checked ~ .side_section , .side_section .nav_first ,.side_section .nav_second {
        /* display:block; */
       visibility:visible;
       opacity: 100%;
    }

    .nav1 #menu:checked ~  label i{
       background-color: rgb(131, 128, 128);
    }

 
    
/* --------------------------------------------------------------------------------------------------- */


/* ------------------------------------------start header --------------------------------------------------------- */
header{

        top: 20%;
        /* z-index: 1; */
        background: white;
        width: 100%;
        right:unset;
    }

  
/* --------------------------------------------------------------------------------------------------- */



/* ------------------------------------------start photoheader--------------------------------------------------------- */

.photoheader {
    width: 100%; 
    right:unset;
    top: 100%;
  
}
.photoheader img{
    width: 97%;
}

/* ---------------------------------------------------------------------------------------- */

.items_p {
    /* z-index: 11111; */
    top: 200%;
    padding-left: 1%;
}
/* .items_p  p{
    top: 200%;
    padding-left: 1%;
} */

.contaner {
    width: 100%;
    margin:unset;
    
    display: block;
}

.itemscont{
/* margin: 20% 0 ; */
}

.items{
margin-top: 65%;
/* margin-bottom: 230%; */
width: 99%;
padding: 0 2% 0 1%;
grid-template-columns: repeat(2 , 1fr);
grid-template-rows: repeat(4 , 1fr);
}

/* --------------------------------------------------------------------------------------------------- */



footer {
display: block;
width: 100%;
}

.black_upper_footer{
    /* margin-top:90%; */
}

/* ---------------------------------------------------------------------------------------- */


@media (max-width: 797px ) {


    
}





/* ---------------------------------------------------------------------------------------- */



/* ---------------------------------------------------------------------------------------- */

@media (max-width: 575px ) {

    
    
}






/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */
}